.center-aligned-header .ag-header-cell-label {
    justify-content: center;
}

.center-aligned-cell {
    text-align: center;
}

.ag-theme-balham, .ag-theme-balham-dark {
    /* --ag-header-font-size: 26px; */
    --ag-font-size: 16px !important;
}

.ag-theme-balham .ag-header-cell-text,
.ag-theme-balham-dark .ag-header-cell-text {
    font-size: 20px !important;
}
